@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Standard Components Used in Enterprise Software Development</h2>
<p>
    I've added several components to this web application, primarily as a way to show
    what can easily be included in a .NET MVC 3 Web Application and deploy to AWS. All
    of this, is simply deployed with a default CloudFormation Setup by right clicking
    on the project and selecting...<br />
    <img style="position: relative;" src="@Url.Content("~/Content/Images/PublishToAwsCloudFormation.png")" /></p>
<p>
    Some of the included libraries, all retrieved via <a href="http://www.nuget.org/">NuGet</a>
    are...</p>
<ul>
    <li>@Html.ActionLink("Entity Framework & Scaffolding's Nice Little Form", "Index", "NiceLittleForm")</li>
    <li>@Html.ActionLink("Quartz Scheduling", "Index", "Quartz")</li>
</ul>
<script language="javascript" type="text/javascript">
    tab = "home";
</script>
