@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Contact Me... Adron Hall</h2>
<ul>
    <li><a href="http://compositecode.com/">Composite Code</a> (My Blog)</li>
    <li><a href="http://www.adronbhall.com/">My Site</a>, which is always in a state of
        flux.</li>
    <li><a href="http://www.linkedin.com/in/adron">Linked In</a></li>
    <li><a href="https://twitter.com/#!/adron">@@Adron on Twitter</a></li>
</ul>
<script language="javascript" type="text/javascript">
    tab = "contact";
</script>
