@model IEnumerable<AWS_MVC_Web_Applicaiton.Models.AwsEc2Status>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Quartz Timer Status Log</h2>
<script>
    $(document).ready(function () {
        oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers"
        });
    });
</script>
<div class="demo_jui">
    <table id="example" class="display" width="100%">
        <thead>
            <tr>
                <th>
                    Message
                </th>
                <th>
                    Stamp
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stamp)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
         <tr>
                <th>
                    Message
                </th>
                <th>
                    Stamp
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="spacer"></div>
