<<<<<<< HEAD
﻿@model AWS_MVC_Web_Application.Models.RandomAmazonInfo
=======
﻿@model AWS_MVC_Web_Application.Models.CloudyInformation
>>>>>>> 3c2f01457f697f04ec018255e157d93b5c3e3fa3
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
<<<<<<< HEAD
    Index</h2>
<fieldset>
    <legend>Random Amazon Account Information</legend>
</fieldset>
=======
    Information Gleaned from the AWS SDK</h2>
<fieldset>
    <legend>Cloudy Information</legend>
</fieldset>
<p>
    @Html.ActionLink("Home", "Index", "Home")
</p>
>>>>>>> 3c2f01457f697f04ec018255e157d93b5c3e3fa3
