@model AWS_MVC_Web_Application.Models.CloudyInformation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Information Gleaned from the AWS SDK</h2>
<fieldset>
    <legend>Cloudy Information</legend>
</fieldset>
<p>
    @Html.ActionLink("Home", "Index", "Home")
</p>

